<div class="container">
  <div class="left-column">
    <div>
      <h1>Tu Nombre</h1>
      <p>Perfil breve</p>
      <nav>
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#experience">Experience</a></li>
          <li><a href="#projects">Projects</a></li>
        </ul>
      </nav>
    </div>

    <div class="social-links">
      <a href="https://twitter.com" target="_blank">Twitter</a>
      <a href="https://linkedin.com" target="_blank">LinkedIn</a>
      <a href="https://github.com" target="_blank">GitHub</a>
      <a href="https://instagram.com" target="_blank">Instagram</a>
    </div>
  </div>
  <div class="right-column">
    <section id="about">
      <h2>About</h2>
      <p>Contenido sobre ti.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>

      
    </section>
    <section id="experience">
      <h2>Experience</h2>
      <p>Contenido sobre tu experiencia.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>

    </section>
    <section id="projects">
      <h2>Projects</h2>
      <p>Contenido sobre tus proyectos.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque tempore omnis commodi, molestiae, est praesentium officiis nostrum voluptas at facilis ad similique odit impedit harum quis veniam? Deserunt, porro fuga.</p>

    </section>
  </div>
</div>


